* text=auto
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.cjs text eol=lf
*.md text eol=lf
*.py text eol=lf
*.pdf binary
*.pptx binary
*.jpg binary
*.jpeg binary
*.png binary
*.webp binary
